<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chimp Test</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body onload="startGame()">
    <ul class="navbar">
      {% if not is_logged_in %}
      <li><a href="login">Login</a></li>
      {% endif %}
      <li><a href="game">Game</a></li>
      <li><a href="rankings">Rankings</a></li>

      {% if is_logged_in %}
      <li class="logout-btn">
        <form action="{{ url_for('logout') }}" method="post">
          <input type="submit" value="Logout" />
        </form>
      </li>
      {% endif %}
    </ul>
    <div class="titleScreen" id="startGame" onclick="startGame()">
      Chimp Test
    </div>
    <div id="grid"></div>

    <script>
      var is_logged_in = "{{ is_logged_in }}";
      var username = "{{ username }}";
    </script>
    <script src="/static/game.js"></script>
  </body>
</html>
